<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
  .home{
    position: fixed ;
    background-color: rgba(128,128,128,0.6);
    left:100px;
    bottom: 50px ;
    padding: 15px ;
    border-radius: 50%;
    font-size:30px;
    color:white;
  }
  .logout{
    position: fixed ;
    background-color: rgba(128,128,128,0.6);
    right: 100px ;
    bottom: 50px ;
    padding: 15px ;
    border-radius: 50%;
    font-size:30px;
    color: white;
  }
  .home:hover,.logout:hover{
    cursor: pointer;
  }
</style>

<script type="text/javascript" src="/javascripts/jscookie.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<a href="/dashboard">
  <div class="home">
    <i class="fa fa-home"></i>
  </div>
</a>

<div class="logout" id="logout">
  <i class="fa fa-arrow-left"></i>
</div>

<script>
  $('#logout').click(function(e){
    Cookies.remove('token') ;
    Cookies.remove('username') ;
    location.href = '/login' ;
  })
</script>

