body{
    font-family: 'Shadows Into Light', Monospace;
    margin:30px auto;
    text-align: center ;
    background-image: url('/images/bg1.jpeg');
    background-size: 100% 100% ;
    background-attachment: fixed; 
  }
 .tab{
  font-size: 20px ;
  color: white ;
  width: 10% ;
  background-color: grey ;
  padding: 20px ;
  float: left;
  margin-left: 10% ;
  border-radius: 10% ;
}
.tab:hover{
  cursor: pointer; 
  color: cyan ;
  transition-duration: 0.5s ;
}
.create{
  margin-left: 25% ;
}

.dummy{
	clear: both; 
}
.browse-board{
	display: none ;
}
.board{
	color: white ;
}
input, option, select, textarea, button{
	color: black ;
	font-size: 22px;
}
textarea{
	border-radius: 5px;
	resize: none ;
	width: 250px;
	height: 150px ;
}
.messageInternal, .message{
	color: white ;
	font-size: 25px ;
}
.board h2{
  width:25%;
  border:1px solid grey;
  padding: 10px ;
  margin-left:37.5%;
}
.invites_container{
  color: white ;
}
.invite{
  padding:20px;
  border:1px solid grey ;
  width: 60% ;
  margin-left: 20% ;
  margin-top: 20px ;
}
.details_container p{
  font-size: 25px ;
}
.required{
  color: cyan ;
}
.invite_header{
  font-size: 32px;
  padding: 10px ;
  border:1px solid grey;
}
.invite img{
  width: 60px ;
  height: 60px ;
  border-radius: 50% ;  
}
.profiles-board{
  display: none ;
}

/* Profile Styles */

.imageContainer img{
  margin-top:30px ;
  border-radius: 8px ;
  width: 200px ;
  height: 200px ;
}
.imageContainer{
  border-radius: 4px ;
}
.profile_details .name{
  font-size: 35px ;
}
span{
  display: inline;
  font-size: 30px ;
  color: cyan ;
}
.rollno{
  font-size: 45px ;
}
.profile_details{
  font-size: 25px ;
}
.invites_applied{
  border: 1px solid grey; 
  padding: 20px ;
  width: 50%;
  margin-left: 25% ;
}


.inviteApplied{
  border:1px solid grey;
  padding: 10px ;
  margin-top: 20px;
}
.inviteApplied h2{
  border: none;
  margin-left: none !important;
}

.status_of_user{
  color: red !important;
  background-color: yellow ;
  padding: 10px ;
  border-radius: 3px ;
  width:20%;
  margin-left: 40% ;
}
.inviteApplied p a{
  display: inline-block;
  color: white ;
  text-decoration: none ;
  font-size: 22px;
  padding: 20px ;
  border-radius: 5px;
}
.inviteApplied p a:hover{
  cursor: pointer;
  background-color: rgba(200,200,200,0.6);
}
.inviteApplied p img{
  width: 50px ;
  height: 50px ;
  border-radius: 50% ;
  margin-left: 5px;
}
.inviteApplied p{
  margin-top: 20px ;
  margin-bottom: 20px ;
  font-size: 27px ;
}
.message{
  color: rgb(150,200,150);
}

.invites_created{
  border: 1px solid grey; 
  padding: 20px ;
  width: 50%;
  margin-left: 25% ;
  margin-bottom: 20px ;
}
.applicant{
  text-align: left; 
}
.name_of_applicant{
  margin-left: 10%;
  padding: 12px ;
  font-size: 24px ;
  text-decoration: none ;
  color: cyan ;
}
.name_of_applicant:hover{
  text-decoration: none; 
  color: cyan ;
  border-radius: 5px ;
  background-color: rgba(120,120,120,0.9);
  cursor: pointer;
}
.add_applicant{
  display: inline-block;
  float: right;
  background-color: rgba(0,200,0,0.8);
  width: 50px ;
  height: 50px ;
  border-top-left-radius: 10px ;
  border-bottom-left-radius: 10px ;
}
.remove_applicant{
  float: right;
  display: inline-block;
  background-color: rgba(200,0,0,0.9);
  width: 50px ;
  height: 50px ;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;
  margin-right: 50px;
}
.add_applicant img, .remove_applicant img{
  margin-left: 25%;
}
.remove_applicant:hover{
  cursor: pointer;
}
.add_applicant:hover{
  cursor: pointer;
} 
.dummy1{
  width: 500px ;
  height: 20px ;
}